<template>
    <footer id="main-footer">
        <div id="footer-bottom">
            <div class="container clearfix">
                <div id="footer-info">Copyright 2017 Bezar.io</div> </div>
        </div>
    </footer>
</template>

<script>
    export default {

    }
</script>

<style lang="scss" scoped>

</style>