<template>
    <header id="main-header" data-height-onload="80" data-height-loaded="true" data-fixed-height-onload="80" class="" style="top: 0px;">
        <div class="container clearfix et_menu_container">
            <div class="logo_container">
                <span class="logo_helper"></span>
                <a href="https://bezar.io/">
                    <img :src="logo" alt="Bezar.io" id="logo" data-height-percentage="54" data-actual-width="1449" data-actual-height="360">
                </a>
            </div>
            <div id="et-top-navigation" data-height="66" data-fixed-height="40" style="padding-left: 203px;">
                <nav id="top-menu-nav">
                    <ul id="top-menu" class="nav"><li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-60"><a href="https://bezar.io/">Home</a></li>
                        <li id="menu-item-47781" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-75 current_page_item menu-item-47781"><a href="https://bezar.io/our-process/" aria-current="page">Our Process</a></li>
                        <li id="menu-item-47784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47784"><a href="https://bezar.io/contact-us/">Contact Us</a></li>
                    </ul> </nav>
                <div id="et_mobile_nav_menu">
                    <div class="mobile_nav closed">
                        <span class="select_page">Select Page</span>
                        <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        <ul id="mobile_menu" class="et_mobile_menu"><li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-60 et_first_mobile_item"><a href="https://bezar.io/">Home</a></li>
                            <li id="menu-item-47781" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-75 current_page_item menu-item-47781"><a href="https://bezar.io/our-process/" aria-current="page">Our Process</a></li>
                            <li id="menu-item-47784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47784"><a href="https://bezar.io/contact-us/">Contact Us</a></li>
                        </ul></div>
                </div> </div>
        </div>
        <div class="et_search_outer">
            <div class="container et_search_form_container">
                <form role="search" method="get" class="et-search-form" action="https://bezar.io/">
                    <input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:"> </form>
                <span class="et_close_search_field"></span>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        props: {
            logo: String
        }
    }
</script>

<style lang="scss" scoped>

</style>